.home_section1 {
  width: 100%;
  height: 966px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (max-width: 1000px) {
  .home_section1 {
    height: 800px;
  }
}
@media screen and (max-width: 900px) {
  .home_section1 {
    height: 700px;
  }
}
@media screen and (max-width: 750px) {
  .home_section1 {
    height: 600px;
  }
}
@media screen and (max-width: 600px) {
  .home_section1 {
    height: 500px;
  }
}
@media screen and (max-width: 500px) {
  .home_section1 {
    height: 400px;
  }
}
.home_section1_inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_section1_quote_container {
  width: 53.646vw;
  height: 340px;
  background-color: rgb(3, 34, 39, 65%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_section1_quote {
  width: 900px;
  color: white;
  font-size: 2.13vw;
  line-height: 66px;
  letter-spacing: 4px;
  text-align: center;
}
@media screen and (max-width: 1150px) {
  .home_section1_quote {
    line-height: 60px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 900px) {
  .home_section1_quote {
    width: 390px;
    line-height: 55px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 700px) {
  .home_section1_quote {
    width: 300px;
    line-height: 50px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 600px) {
  .home_section1_quote {
    font-size: 2.5vw;
    width: 230px;
    line-height: 50px;
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 450px) {
  .home_section1_quote {
    padding: 0px 5px;
    font-size: 3vw;
    width: 200px;
    line-height: 40px;
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 800px) {
  .home_section1_quote_container {
    height: 300px;
  }
}
@media screen and (max-width: 700px) {
  .home_section1_quote_container {
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .home_section1_quote_container {
    border-radius: 60px;
  }
}
@media screen and (max-width: 500px) {
  .home_section1_quote_container {
    height: 220px;
  }
}
@media screen and (max-width: 400px) {
  .home_section1_quote_container {
    height: 200px;
  }
}
.home_section1_button {
  width: 27.24vw;
  height: 7.13vh;
  background-color: #d7eae0;
  border-radius: 28px;
  font-size: 27px;
  font-weight: bold;
  color: #33535f;
  border: none;
  padding: 0px;
  margin-top: 20px;
}
@media screen and (max-width: 900px) {
  .home_section1_button {
  font-size: 20px;
  }
}
@media screen and (max-width: 750px) {
  .home_section1_button {
  font-size: 15px;
  height: 45px;
  }
}
@media screen and (max-width: 450px) {
  .home_section1_button {
  font-size: 10px;
  height: 40px;
  }
}
.home_section3_container {
  width: 100%;
  background-color: #d7eae0;
}
.home_section3_header {
  width: 100%;
  text-align: center;
  font-size: 73px;
  font-weight: 500;
  padding-top: 80px;
}
.home_section3_content {
  width: 81%;
  text-align: center;
  font-size: 30px;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 104px;
}
.home_section4_container {
  width: 100%;
  /* height: 112.741vh; */
}
.home_section4_header {
  text-align: center;
  font-size: 73px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.home_section4_content_container {
  padding: 0px 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home_section5_container {
  width: 100%;
  background-color: #d7eae0;
  display: flex;
}
.home_section5_content {
  width: 86%;
  text-align: center;
  font-size: 30px;
  line-height: 94px;
  letter-spacing: 1px;
  margin: auto;
  padding: 104px 0px;
}
.home_section6_container {
  width: 100%;
  padding-top: 40px;
}
.home_section6_header {
  text-align: center;
  font-size: 68px;
  font-weight: 500;
}
.home_section6_image {
  position: absolute;
  width: 100%;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  z-index: -1;
}

@media screen and (max-width: 988px) {
  .home_section6_image {
    margin-top: 100px;
  }
}

@media screen and (max-width: 567px) {
  .home_section6_image {
    margin-top: 200px;
  }
}

.home_leaf1 {
  width: 10vw;
  height: 50vh;
  top: 0;
}
.home_section6_content {
  width: 30%;
  padding-top: 6vh;
  text-align: center;
  font-size: 1.5vw;
  margin-left: auto;
  margin-right: 14%;
  line-height: 68px;
  margin-bottom: 300px;
}

.test {
  background-color: rgb(3, 34, 39, 65%);
  border: solid 1px black;
  /* height: ; */
  width: min-content;
}
