body {
  overflow-x: hidden;
}
.app_nav_container {
  display: flex;
  width: 100%;
  height: 114px;
  background-color: #d7eae0;
}
.app_img_container {
  margin-right: auto;
  margin-left: 47px;
  height: 100%;
  display: flex;
  align-items: center;
}
.app_nav_options_container {
  display: flex;
  align-items: center;
}
.app_nav_option {
  text-decoration: none;
  margin-right: 2.188vw;
  font-size: 30px;
  color: #9a9a9a;
}
